body{
	margin: 0 
}
.title{
	margin-top: 0;
}
.backgroundpic{
	background-color: #cccccc;
	padding: 100px 100px 100px 100px;
}
.navbar li{
	display: inline-block;
	padding:0 5px 0 5px;
}

.navbar a{
	font-size: 15px;
}


.navbar{
	line-height: 13px;
}

.container{
	position:relative;
	bottom: 50px;
	text-align: center;
}

.webcontant{
	margin: 0 300px 0 300px;
}
.copyright{
	padding:35px 300px 50px 300px;
	background-color: yellow;
}
